.header {
    width: 100%;
    display: flex;
    padding: 0.75rem;
    background: #f5ba13;
    color:  #eee;
    justify-content: center;
    font-family: 'Texturina', serif;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}